
        <div class="col-md-4" >
            {% if post.featured_image or post.featured_video_id %}
            <a href="/blog/{{ post.url }}" class="featurette">
                {% if post.featured_image %}
                <img class="img" src="{{ post.featured_image }}" width="100%"></img>

                {% endif %}

                {% if post.featured_video_id %}
                <iframe src="https://www.youtube.com/embed/{{ post.featured_video_id }}" frameborder="0" allowfullscreen></iframe>
                {% endif %}
            </a>
            {% endif %}
        </div>
        <div class="col-md-8">
            url1:  {{ post.url }}
            <h2><a href="/blog/{{ post.url  }}">{{ post.title }}</a></h2>
            <aside>
                {{ post.date | date: "%m.%d.%y" }}
                {% if post.categories != empty %}
                &middot;
                {% for category in post.categories %}
                <span>{{ category }}</span>
                {% endfor %}
                {% endif %}
            </aside>
            <div class="excerpt">{{ post.excerpt }}</div>

            <a href="/blog/{{ post.url }}" class="read-more btn btn-info btn-lg">Read More <i class="fa fa-angle-right"></i></a>
            {% if post.categories != empty %}
            <div class="tags">
                {% for tag in post.tags %}
                <span>{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>


