{% if page.featured_image or page.featured_video_id %}
    <div class="topper">
        {% if page.featured_image %}
        <span class="img" style="background-image: url('{{ page.featured_image }}');">
        {% endif %}

        {% if page.featured_video_id %}
        <iframe src="https://www.youtube.com/embed/{{ page.featured_video_id }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}
    </div>
{% endif %}

<div class="title-group">
    {% if page.id %}
    <aside>
        by: {{ page.by }}
        /
        {% if page.categories != empty %}
        {% for category in page.categories %}
        <span>{{ category }}</span>
        {% endfor %}
        {% endif %}
        /
        {{ page.date | date: "%B %-d, %Y" }}

    </aside>
    {% endif %}

    <h1 >
        <span>
        {% if page.title %}
            {{ page.title }}
        {% else %}
            {{ site.data.global.title }}
        {% endif %}
        </span>
    </h1>

    <p class="lead">
        {% if page.lead_text %}
            {{ page.lead_text }}
        {% elsif post.lead_text %}
            {{ post.lead_text }}
        {% else %}
            {{ site.data.global.description }}
        {% endif %}
    </p>
</div>