{% include header.html %}

    <!--{% include title-group.html %}-->

    <main>
        <div class="container-fluid">
            {% for post in paginator.posts %}
                <div class="row title">
                    {% include tile.html %}
                </div>
            <div class="row">
                <div class="md-col-8 col-md-offset-2">
                    <hr>
                </div>

                </div>
            {% endfor %}
        </div>
    </main>

{% include footer.html %}